<p id="notice"><%= notice %></p>
<div class="child row">
    <%= profile_img_thumb(@user) %>
    <br>
    <%= @user.email %>
    <%= render 'follow_form', user: @user %>
    <%= link_to '戻る', users_path %>
    <br>
      <%= render partial: 'users/followed_users', locals: { user: @user } %>
    <br>
    <br>
      <%= render partial: 'users/followers', locals: { user: @user } %>
</div>
